@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Lato&family=Nunito:wght@500&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}
@media (max-width: 620px) {
  .login {
    display: block;
    height: auto;
  }
}
@media (min-width: 621px) {
  .login {
    display: flex;
    height: 450px;
  }
}
.container {
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: auto;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.801) , rgba(0, 123, 12, 0.801));
}
.login {
  width: 820px;
  border: 1px solid rgba(204, 204, 204, 0.168);
  background-color: rgba(255, 255, 255, 0.455);
  background-size: cover;
  margin: 30px auto;
  border-radius: 20px;
}
.login .form {
  width: 100%;
  height: 100%;
  padding: 15px 25px;
  flex: 2;
}
.login .form h2 {
  color: rgb(0, 0, 0);
  text-align: center;
  font-weight: normal;
  font-size: 18px;
  margin-top: 60px;
  margin-bottom: 80px;
}
.login .form input {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  background: rgba(255, 255, 255, 0.414);
  border: 1px solid rgba(255,255,255,.1);
  border-bottom: 3px solid rgba(53, 53, 53, 0.5);
  padding: 0 15px;
  color: rgb(14, 14, 14);
  border-radius: 5px;
  font-size: 14px;
}
.login .form input:focus {
  border: 1px solid rgba(0, 138, 58, 0.8);
  border-bottom: 3px solid rgba(0, 138, 58, 0.8);
  outline: none;
}
::-webkit-input-placeholder {
    color: rgb(112, 112, 112);
}
.login .form input.submit {
  background: rgba(255,255,255,.9);
  background-image: linear-gradient(to bottom right, rgba(11, 168, 32, 0.912), rgba(0, 134, 18, 0.83));
  color: rgb(255, 255, 255);
  font-size: 15px;
  margin-top: 30px;
  font-weight: bold;
  border: 0px;
}
.login .form input.submit:hover {
  cursor: pointer;
  animation-name: change-color-on;
  animation-duration: .5s;
  background-image: linear-gradient(to bottom, rgba(24, 218, 50, 0.912), rgba(0, 183, 113, 0.83));
  color: #fff;
}
.login .form .title {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  color: rgba(3, 79, 0, 0.862);
  font-family: 'Open Sans', sans-serif;
  background: -webkit-linear-gradient(rgb(0, 190, 60), rgb(0, 182, 134));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hidden {
  display: hidden;
  color: rgb(0, 0, 0, 0);
}
.block {
  display: block;
}
.flex {
  display: flex;
}
.danger {
  margin-top: 3px;
  font-size: 0.7em;
  color: rgb(126, 0, 0, 1);
}
.mr-top5 {
  margin-top: 5px;
}
.regis-text {
  margin-top: 5px;
  text-align: right;
}
a {
  text-decoration: none;
}
.link {
  color: rgb(3, 0, 196);
}
.link:hover {
  font-weight: bold;
  background: -webkit-linear-gradient(rgb(0, 175, 172), rgb(0, 182, 21));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

