.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}
.v3_50 {
  width: 100%;
  height: 100%;
  background: rgba(187,213,222,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_53 {
  width: 100%;
  height: 111px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1164px;
  left: 4px;
  overflow: hidden;
}
.v3_54 {
  width: 100%;
  height: 111px;
  background: rgba(34,73,87,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0px solid rgba(0,0,0,1);
}
.v3_55 {
  width: 100%;
  height: 111px;
  background: rgba(0,0,0,0.25);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0px solid rgba(0,0,0,1);
}
.v3_60 {
  width: 721px;
  height: 529px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 373px;
  left: 506px;
  overflow: hidden;
}
.v3_61 {
  width: 260px;
  height: 33px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 397px;
  left: 0px;
  overflow: hidden;
}
.v3_63 {
  width: 212px;
  color: rgba(9,53,69,1);
  position: absolute;
  top: 0px;
  left: 48px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3_64 {
  width: 35px;
  height: 33px;
  background: rgba(4,42,18,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v3_62 {
  width: 500px;
  position: absolute;
  top: 427px;
  left: 97px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v3_65 {
  width: 721px;
  height: 68px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 460px;
  left: 0px;
  overflow: hidden;
}
.v3_66 {
  width: 721px;
  height: 68px;
  background: rgba(38,118,146,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.30000001192092896);
  overflow: hidden;
}
.v3_67 {
  width: 231px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 247px;
  font-family: Lexend Deca;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v3_68 {
  width: 721px;
  height: 68px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 294px;
  left: 0px;
  overflow: hidden;
}
.v3_69 {
  width: 721px;
  height: 68px;
  background: rgba(4,42,18,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v3_70 {
  width: 124px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 30px;
  font-family: Lexend Deca;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3_71 {
  width: 721px;
  height: 69px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 177px;
  left: 0px;
  overflow: hidden;
}
.v3_72 {
  width: 721px;
  height: 68px;
  background: rgba(4,42,18,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v110_3 {
  width: 127px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 30px;
  font-family: Lexend Deca;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v3_75 {
  width: 452px;
  color: rgba(4,42,18,1);
  position: absolute;
  top: 0px;
  left: 135px;
  font-family: Lexend Deca;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
