@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Lato&family=Nunito:wght@500&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.navSelected {
  position: relative;
  bottom: 2px;
  width: 100%;
  height: 3px;
  background-color: rgb(0, 104, 14) !important;
}

.nav-top {
  background-color: rgba(0, 147, 20) !important;
  background-image: linear-gradient(to bottom, rgb(0, 172, 17), rgb(0, 176, 15));
  height: 80px;
}

.nav-bellow {
  background-image: linear-gradient(to bottom, rgb(0, 208, 17), rgb(184, 245, 180));
  color:rgb(0, 120, 12) !important;
  height: 40px;
}

.background {
  height: 100vh;
  width: 100vw;
  overflow: auto;
  
}

a {
  color: rgb(255, 255, 255);
}

.nav-top .nav-item:hover {
  background-color:rgba(33, 33, 33, 0.155);
  border-radius: 4px;
}

.nav-top .nav-item a:hover {
  font-weight: bold;
  color:rgb(255, 255, 255);
}

.nav-bellow a {
  color:rgb(0, 90, 9);
}

.nav-item {
  min-width: 120px;
  text-align: center;
}

.nav-bellow .nav-item:hover{
  background-color:rgb(255, 255, 255, .3);
  border-radius: 2px;
  font-weight: bold;
}

.nav-bellow .selected {
  background-color:rgba(61, 64, 255, 0.314);
  font-weight: bold;
  border-radius: 2px;
}

.nav-bellow .selected a {
  color:rgb(255, 255, 255);
}

.nav-bellow .selected:hover {
  background-color:rgba(61, 64, 255, 0.314);
  font-weight: bold;
}

.top-font {
  color:rgb(255, 255, 255);
}

.app-table {
  overflow-y: auto;
  overflow-x: auto;
}

.add-field {
  margin: auto;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.sp-around {
  justify-content: space-around;
}

.sp-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.mx-w-80 {
  max-width: 80px;
}

.mx-w-100 {
  max-width: 100px;
}

.mx-w-120 {
  max-width: 120px;
}

.mx-w-200 {
  max-width: 200px;
}

.mn-w-50 {
  min-width: 50px;
}

.mn-w-80 {
  min-width: 100px;
}

.mn-w-100 {
  min-width: 100px;
}

.mn-w-120 {
  min-width: 120px;
}

.mn-w-150 {
  min-width: 150px;
}

.mn-w-180 {
  min-width: 180px;
}

.mn-w-200 {
  min-width: 200px;
}

.mr-r-5 {
  margin-right: 5px;
}

.jus-center {
  justify-content: center;
}

.pd-top-10 {
  padding-top: 10px;
}

.pd-bottom-10 {
  padding-bottom: 10px;
}

.pd-top-7 {
  padding-top: 7px;
}

.input-div {
  max-width: 600px;
  min-width: 240px;
}

.div-center {
  align-items: center;
  justify-content: center;
}

.my-form-group {
  min-width: 400px;
}

.my-form {
  margin-top: 10px;
  margin-bottom: 10px;
}

.tiny-alert {
  margin-left: 10px;
  color:rgb(235, 0, 8);
  font-size: 10px;
}

.into {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  max-width: 100px;
}

.add-field {
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-btn-action{
  width: 35px;
  margin-bottom: 2px;
  border-radius: 40px !important;
}

.my-tr:hover{
  background-color:rgba(0, 175, 15, 0.695) !important;
  cursor: pointer;
}

.disable {
  background-color: #919191 !important;
}

.disable:hover {
  background-color: #919191 !important;
}

.my-date-picker-form {
  width: 400px;
  height: 38px;
}